{% extends "base.html" %}

{% block bloglist %}
<div class="container-fluid blog-list">
  <div class="row m-2">
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-10 col-sm-12 float-start">
      <div class="card bg-white border-0 ">
        <h2 class="card-title">EzExplanation <span style="color: #06a3da;">Blog</span></h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12"></div>
      <div class="col-md-10 col-sm-12">
        <div class="row course-list">
          {% for blog in blogs %}
          <div class="col-md-12 col-sm-12">
            <div class="card mb-3 border-0 shadow-lg">
              <div class="row g-0">
                <div class="col-md-4 align-self-center">
                  <a href="/blog/{{blog.slug}}/">
                    <img src="/media/{{blog.featured_image}}" class="img-fluid rounded-start" alt="...">
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body ">
                    <h5 class="card-title"><a href="/blog/{{blog.slug}}">{{blog.title}}</a></h5>
                    <p><small>{{blog.published_at}}</small></p>
                    <p class="card-text">{{blog.content|truncatewords:80|safe}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- <div class="col-md-2 col-sm-12"></div> -->
    </div>
  </div>

</div>
{% endblock %}

{% block recent_blog %}
<div class="container-fluid blog-list">
  <div class="row m-2">
    <div class="col-md-2 col-sm-12">
    </div>
    <div class="col-md-10 col-sm-2">
      <div class="card bg-white border-0 float-start">
        <h2 class="card-title">EzExplanation <span style="color: #06a3da;">Recent Blog</span></h2>
      </div>
     
    </div>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12"></div>
      <div class="col-md-10 col-sm-12">
        <hr>
        <div class="row course-list d-flex align-self-stretch">
        
          {% for blog in recent_blogs %}
          <div class="col-md-4 col-sm-12">
            <div class="card border-0 h-100" style="width: 20rem;">
              <a href="/blog/{{blog.slug}}/">
                <img src="/media/{{blog.featured_image}}" class="card-img-top" alt="{{blog.title}}">
              </a>
              <div class="card-body d-flex flex-column">
                <h5 class="card-title"><a href="/blog/{{blog.slug}}">{{blog.title}}</a></h5>
                <p><small>{{blog.published_at}}</small></p>
                <a href="/blog/{{blog.slug}}" style="color: #06a3da;text-decoration: none;">read more <i
                    class="fa-solid fa-arrow-right"></i></a>
                <!-- <p class="card-text">{{blog.content|truncatewords:80|safe}}</p> -->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- <div class="col-md-2 col-sm-12"></div> -->
    </div>
  </div>

</div>
{% endblock %}