{% extends "base.html" %}

{% block aboutus %}
<section class="ftco-section ftco-about img">
 <div class="container">
  <div class="row d-flex">
   <div class="col-md-12 about-intro">
    <div class="row">
     <div class="col-md-6 d-flex">
      <!-- <div class="d-flex about-wrap">
       <div class="img d-flex align-items-center justify-content-center" style="background-image:url(images/about-1.jpg);">
       </div>
       <div class="img-2 d-flex align-items-center justify-content-center" style="background-image:url(images/about.jpg);">
       </div>
     </div> -->
   </div>
   <div class="col-md-6 pl-md-5 py-5">
    <div class="row justify-content-start pb-3">
      <div class="col-md-12 heading-section ftco-animate">
       <!-- <span class="subheading">Enhanced Your Skills</span> -->
       <h2 class="mb-4">Learn computer science concepts in easiest way possible</h2>
       <p>{{content}}</p>
       <p><a href="https://www.youtube.com/@easyexplanation9220" class="btn btn-danger">Explore video content at: EasyExplanation</a></p>
       
     </div>
   </div>
 </div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}